<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Verwaltung - Bewohner verwalten</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-section">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo Ruhesitz Wetterstein" width="300">
    </div>
    <h1>Verwaltung - Bewohner verwalten</h1>
    <form method="POST" action="/administration/add" class="filter-form">
        <p>Geben Sie einen Namen, eine Raumnummer und eine Station ein, um einen Bewohner hinzuzufügen.</p>

        <div class="form-group">
            <label for="name"><b>Vor- und Nachname</b></label>
            <input type="text" id="name" name="name" placeholder="Max Mustermann" required></input>
        </div>

        <div class="form-group">
            <label for="room"><b>Raum</b></label>
            <input type="text" id="room" name="room" placeholder="201" required></input>
        </div>

        <div class="form-group">
            <label for="station"><b>Station</b></label>
            <select id="station" name="station">
                <!--Für den Testlauf nur Betreutes Wohnen-->
                <option value="Betreutes Wohnen" selected>
                    Betreutes Wohnen
                </option>
            </select>
        </div>

        <button type="submit">Hinzufügen ↩ </button>
    </form>

        <!--<div class="form-group">
            <label for="date">Datum auswählen</label>
            <input type="date" id="date" name="date" value="{{ date_filter }}" onchange="this.form.submit()">
        </div>-->

    <div class="button-bar">
    <a class="secondary" href="/">← Zurück</a>
    </div>
    <br>
    <ul>
        <div class="list-title">
            Liste der Bewohner
        </div>
        {% for resident in residents %}
            <li>
                <div class="resident-information">
                    <span class="resident-name"> {{ resident.name }} </span>                     
                    <div class="resident-details"> {{ resident.station }} | Zimmer {{ resident.room }} </div>
                </div>
                <a href="/administration/delete/{{ resident.id }}" class="change-button" >
                    Bewohner entfernen ↩
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>