<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Ruhesitz Wetterstein - Digitale Essenswunscherfassung</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="main-section">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo Ruhesitz Wetterstein" width="300">
    </div>
    <h1>Digitale Essenswunscherfassung</h1>
    <div class="home-actions">
        <div class="action-card">
            <h2>Essenswunscherfassung</h2>
            <a href="/entry">Bestellungen erfassen →</a>
        </div>
        <div class="action-card">
            <h2>Küche</h2>
            <a href="/overview">Zur Küchenübersicht →</a>
        </div>
        <div class="action-card">
            <h2>Bewohnerverwaltung</h2>
            <a href="/administration">Bewohner verwalten →</a>
        </div>
    </div>
</div>
</body>
</html>